<!DOCTYPE html>
<html lang="en">
<style>


</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table style="text-align: center" class="table"  border="1" cellspacing="0" width="500px">
        <th>user_id</th>
        <th>昵称</th>
        <th>电话</th>
        <tr>
            <td>1</td>
            <td>李佳飞fdsafdasfdasfd</td>
            <td>18317774594</td>
        </tr>
        <tr>
            <td>1</td>
            <td>李佳飞</td>
            <td>18317774594</td>
        </tr>
        <tr>
            <td>1</td>
            <td>李佳飞</td>
            <td>18317774594</td>
        </tr> <tr>
        <td>1</td>
        <td>李佳飞</td>
        <td>18317774594</td>
    </tr>
        <tr>
            <td>1</td>
            <td>李佳飞</td>
            <td>18317774594</td>
        </tr>
        <tr>
            <td>1</td>
            <td>李佳飞</td>
            <td>18317774594</td>
        </tr>



    </table>
</body>
</html>