<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="__STATIC__/admin/css/font-awesome.min.css">
<link rel="stylesheet" href="__STATIC__/admin/css/base.css">
<div class="container-fluid main">
	<div class="main-top"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>商城管理--商城设置</div>
	<div class="main-content">
  <!-- Nav tabs -->
	  <ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">首页轮播图</a></li>
	  </ul>
		<table class="table table-striped" style="font-size:14px;">
			<th>编号</th>
			<th>缩略图</th>
			<th>url</th>
			<th>操作</th>
			{volist name="info" id="vv"}
			  <tr>
				<td>{$vv.id}</td>
				<td ><img style="width: 200px;" src="{$vv.path}"></td>
				  <th>{$vv.url}</th>
				<td><button class="btn btn-danger btn-sm" onclick="del(this,{$vv.id})">删除</button>
				</td>
			  </tr>
			{/volist}
			</table>
			<form action="img_list" method="post"  enctype="multipart/form-data">
				<input type="file" id="path" name="path"/><br/>
				<input style="'width:50%" class="form-control"  type="text" id="url" name="url" placeholder="url地址"/>
			 <div style="margin-top:30px"><button type="submit" class="btn btn-success">保存</button></div>
			 </form>
	</div>
			  
	</div>
</div>
	</div>
</div>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="__STATIC__/admin/layer/layer.js"></script>
<script>
    function del(obj, id) {
        layer.confirm('确定要删除这条数据吗？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $.ajax({
                type: 'post',
                url: "{:url('del_shop_bannar')}",
                dataType: 'json',
                data: {'id': id},
                success: function () {
                    layer.msg('删除成功', {icon: 1});
                    $(obj).parent().parent().remove();
                },
                error: function () {
                    layer.msg('通信通道发生错误！刷新页面重试！');
                }
            });
        }, function () {

        });
    }
</script>