<link rel="stylesheet" href="__STATIC__/admin/css/base.css">
<link rel="stylesheet" href="__STATIC__/admin/css/bootstrap.min.css">
<link rel="stylesheet" href="__STATIC__/admin/css/base.css">
<link rel="stylesheet" href="__STATIC__/admin/layui/css/layui.css"  media="all">
<style>
	table button{
		width: 50px;
		height: 34px;
		margin-left: 5px;
	}
	a{
		color: blue;;
	}
	.main-top button{width:50px;height:34px;margin-left:1555px;}

	/*点击显示业绩 */
	.yeji{
		margin-left: 20px;
		margin-top: 10px;
	}
	.yeji span{
		margin-left: 40px;
	}
</style>
<div class="container-fluid main">
	<div class="main-top">
		<span  aria-hidden="true">会员列表</span>

	</div>
		<div class="main-content">
			<div>
				<div>
					
					<div class="well">
					
						<div class="btn-group" style="">
						</div><br/>
						<div class="btn-group" style="margin-top:20px;">
							<button type="button" class="btn btn-default">用户id</button>
							<div class="btn-group">
								<input type="text" id="id" class="form-control">
							</div>
							<button type="button" class="btn btn-default">昵称</button>
							<div class="btn-group">
								<input type="text" id="nickname" class="form-control">
							</div>
							<button type="button" class="btn btn-warning" onclick="getPage(1)">查询</button>
						</div>
					</div>

				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">列表</a></li>
				</ul>

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
						<div id="list">

						</div>
						<div class="pagelist"><div id="demo3"></div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="__STATIC__/admin/js/bootstrap.min.js"></script>
<script src="__STATIC__/admin/layer/layer.js"></script>
<script src="__STATIC__/admin/layui/layui.js" charset="utf-8"></script>
<script>
	getPage(1);
	function getPage(a) {
        var user_id = $("#id").val();
        var nickname = $("#nickname").val();
        var index = layer.load(2,{
            shade:[0.6,'#000']
		})
        $.ajax({
            url:"{:url('users')}",
            type:"post",
            dataType:"json",
            data:{
                'page':a,
                'user_id':user_id,
                'nickname':nickname,
            },
            success:function (data) {
                layer.close(index);
                setLayPage(data.number,a);
                setDivData(data.data);
            },
            error:function (data) {
                layer.close(index);
                layer.msg('网络错误,请稍后重试');
            }
        });

    }
</script>
<script>
	function setLayPage(number,a){
        layui.use(['laypage', 'layer'], function(){
            var laypage = layui.laypage
                ,layer = layui.layer;
            //自定义首页、尾页、上一页、下一页文本
            laypage.render({
                elem: 'demo3'
                ,count: number
                ,curr:a//显示第几页
                ,limit:10
                ,first: '首页'
                ,last: '尾页'
                ,prev: '<em>←</em>'
                ,next: '<em>→</em>'
                ,jump: function(obj,first){
                    if(!first){
                        getPage(obj.curr);
                    }
                }
            });
        });
	}

	function setDivData(data){
	    str = '';
	    str += '<table class="table table-striped"  style="font-size:14px;margin-top: 20px;"><th>user_id</th><th>昵称</th><th>余额</th><th>积分</th><th>父级id</th><th>级别</th><th>等级</th><th>业绩</th><th>创建时间</th><th>是否禁用</th><th>操作</th>';
		for(i = 0; i < data.length; i++){
		    if(data[i]['type'] == 1){
		        data[i]['type'] = '代言人';
			}else if(data[i]['type'] == 2){
                data[i]['type'] = '小V';
			}else if(data[i]['type'] == 3){
                data[i]['type'] = '大V';
            }else if(data[i]['type'] == 4){
                data[i]['type'] = '官方创始人';
            }else if(data[i]['type'] == 5){
                data[i]['type'] = '联合创始人';
            }else if(data[i]['type'] == 0){
				data[i]['type'] = '无';
			}
			if(data[i]['grade'] == 1){
				data[i]['grade'] = 'VIP';
			}else if(data[i]['grade'] == 2){
				data[i]['grade'] = '省代';
			}else if(data[i]['grade'] == 3){
				data[i]['grade'] = '总代';
			}else if(data[i]['grade'] == 4){
				data[i]['grade'] = '官方';
			}else if(data[i]['grade'] == 5){
				data[i]['grade'] = '联创';
			}else if(data[i]['grade'] == 0){
				data[i]['grade'] = '无';
			}
			if(data[i]['is_forbid'] == 0){
				data[i]['is_for'] = '未禁用';
				data[i]['type'] = '禁用';
			}else{
				data[i]['is_for'] = '已禁用';
				data[i]['type'] = '解禁';
			}
            data[i]['create_time'] = new Date(parseInt(data[i]['create_time']) * 1000).toLocaleString().substr(0,20)
        	str += '<tr style="font-size:13px;" class="data"><td>'+data[i]['user_id']+'</td>';
			str += '<td>'+data[i]['nickname']+'</td>';
			str += '<td><a onclick="setUserMoney('+data[i]['user_id']+')">'+data[i]['money']+'</a></td>';
			str += '<td>'+data[i]['jifen']+'</td>';
			str += '<td><a onclick="setUserPinfo('+data[i]['user_id']+')">'+data[i]['p_id']+'</a></td>';
            str += '<td><a onclick="setGrade('+data[i]['user_id']+')">'+data[i]['grade']+'</a></td>';
            str += '<td><a onclick="setUserType('+data[i]['user_id']+')">'+data[i]['type']+'</a></td>';
            str += '<td><a onclick="setLook('+data[i]['user_id']+')">查看</a></td>';
            str += '<td>'+data[i]['create_time']+'</td>';
            str += '<td>'+data[i]['is_for']+'</td>';
            str += '<td><button type="button" class="btn btn-warning" onclick="jinzhi('+data[i]['user_id']+','+data[i]['is_forbid']+')">'+data[i]['type']+'</button></td></tr>';
		}
		str += '</table>';
		$('#list').empty();
		$('#list').append(str);
	}
</script>
<script>
	//禁用用户
	function jinzhi(user_id,type){
		if(type == 0){
			str = '禁用'
		}else{
			str = '解禁'
		}
		layer.confirm('确定'+str+'？', {
			btn: ['是，确认','否，再看看'] //按钮
		}, function(){
			var index = layer.load(2,{
				shade:[0.6,"#000"]
			});
			$.ajax({
				type: "POST",
				url: "{:url('forbiddenUser')}",
				dataType: "json",
				data: {"user_id":user_id,type:type},
				success: function(json){
					layer.close(index)
					if(json.code==1){
						layer.msg(str+'成功', {icon: 1});
					}else{
						layer.msg("处理失败，请重新尝试");
					}
				},
				error:function(){
					layer.close(index)
					layer.msg("发生异常！");
				}
			});
		}, function(){

		});
	}

</script>
<script>
	var openid;
	function setUserMoney(user_id){
		openid = layer.open({
			type: 1,
			skin: '', //加上边框
			area: ['300px', '250px'], //宽高
			content: '<div  style="margin-left: 0px;"><div >' +
			'<div style="text-align: center;margin-top: 5px;font-size: 15px;"><div><p>金额</p>' +
			'<input style="border-radius: 4px;border: 1px solid #D9DADC;"  placeholder="" id="user_money" type="text" />' +
			'<div class="" style="margin-top: 5px;">' +
			'<button style="background:#44B549;"  class="btn btn-default btn-default1" onclick="setUserMoney1('+user_id+')">确定</button>' +
			'</div></div></div></div></div>'
		});
	}

	function setUserMoney1(user_id){
		if(user_id == ''){
			layer.msg('请刷新页面');return;
		}
		user_money = $("#user_money").val();
		if(user_money == ''){
			layer.msg('请输入金额');return;
		}
		var index = layer.load(2,{
			shade:[0.6,"#000"]
		});
		layer.close(openid);
		$.ajax({
			url:"{:url('setUserMoney')}",
			type:"post",
			dataType:"json",
			data:{
				'user_id':user_id,
				'money':user_money
			},
			success:function (data){
				layer.close(index);
				if(data.code == 1){
					layer.msg('设置成功');
				}else{
					layer.msg(data.info);
				}
			},
			error:function (data) {
				layer.close(index);
				layer.msg('网络错误,请稍后重试');
			}
		});
	}

</script>
<script>
	var openid;
	function setUserPinfo(user_id){
		openid = layer.open({
			type: 1,
			skin: '', //加上边框
			area: ['300px', '250px'], //宽高
			content: '<div  style="margin-left: 0px;"><div >' +
			'<div style="text-align: center;margin-top: 5px;font-size: 15px;"><div><p>输入上级手机号</p>' +
			'<input style="border-radius: 4px;border: 1px solid #D9DADC;"  placeholder="" id="p_tel" type="text" />' +
			'<div class="" style="margin-top: 5px;">' +
			'<button style="background:#44B549;"  class="btn btn-default btn-default1" onclick="setUserPinfo1('+user_id+')">确定</button>' +
			'</div></div></div></div></div>'
		});
	}

	function setUserPinfo1(user_id){
		if(user_id == ''){
			layer.msg('请刷新页面');return;
		}
		p_tel = $("#p_tel").val();
		if(p_tel == ''){
			layer.msg('请填写上级手机号');return;
		}
		var index = layer.load(2,{
			shade:[0.6,"#000"]
		});
		layer.close(openid);
		$.ajax({
			url:"{:url('setUserPinfo')}",
			type:"post",
			dataType:"json",
			data:{
				'user_id':user_id,
				'p_tel':p_tel
			},
			success:function (data){
				layer.close(index);
				if(data.code == 1){
					layer.msg('设置成功');
				}else{
					layer.msg(data.info);
				}
			},
			error:function (data) {
				layer.close(index);
				layer.msg('网络错误,请稍后重试');
			}
		});
	}

</script>
<!--升级type值-->
<script>
	var openid;
	function setUserType(user_id){
		openid = layer.open({
			type: 1,
			skin: '', //加上边框
			area: ['300px', '250px'], //宽高
			content: '<div  style="margin-left: 0px;"><div >' +
			'<div style="text-align: center;margin-top: 5px;font-size: 15px;"><div><p>选择级别</p>' +
			'<select style="margin:5px auto;width: 200px;marig-top:5px;border-radius: 4px;border: 1px solid #D9DADC;" class="form-control" name="user_type" id="user_type">'+
			'<option value="1">代言人</option>'+
			'<option value="2">小V</option>'+
			'<option value="3">大V</option>'+
			'<option value="4">官方</option>'+
			'<option value="5">联合创始人</option>'+
			'</select>' +
			'<div class="" style="margin-top: 5px;">' +
			'<button style="background:#44B549;"  class="btn btn-default btn-default1" onclick="setUserType1('+user_id+')">确定</button>' +
			'</div></div></div></div></div>'
		});
	}

	function setUserType1(user_id){
		if(user_id == ''){
			layer.msg('请刷新页面');return;
		}
		user_type = $("#user_type").val();
		if(user_type == ''){
			layer.msg('请选择');return;
		}
		var index = layer.load(2,{
			shade:[0.6,"#000"]
		});
		layer.close(openid);
		$.ajax({
			url:"{:url('setUserType')}",
			type:"post",
			dataType:"json",
			data:{
				'user_id':user_id,
				'type':user_type
			},
			success:function (data){
				layer.close(index);
				if(data.code == 1){
					layer.msg('设置成功');
				}else{
					layer.msg(data.info);
				}
			},
			error:function (data) {
				layer.close(index);
				layer.msg('网络错误,请稍后重试');
			}
		});
	}

</script>
<script>
	var openid;
	function setGrade(user_id){
		openid = layer.open({
			type: 1,
			skin: '', //加上边框
			area: ['300px', '250px'], //宽高
			content: '<div  style="margin-left: 0px;"><div >' +
			'<div style="text-align: center;margin-top: 5px;font-size: 15px;"><div><p>选择等级</p>' +
			'<select style="margin:5px auto;width: 200px;marig-top:5px;border-radius: 4px;border: 1px solid #D9DADC;" class="form-control" name="grade" id="grade">'+
			'<option value="1">VIP</option>'+
			'<option value="2">省代</option>'+
			'<option value="3">总代</option>'+
			'<option value="4">官方</option>'+
			'<option value="5">联创</option>'+
			'</select>' +
			'<div class="" style="margin-top: 5px;">' +
			'<button style="background:#44B549;"  class="btn btn-default btn-default1" onclick="setGrade1('+user_id+')">确定</button>' +
			'</div></div></div></div></div>'
		});
	}

	function setGrade1(user_id){
		if(user_id == ''){
			layer.msg('请刷新页面');return;
		}
		grade = $("#grade").val();
		if(grade == ''){
			layer.msg('请选择');return;
		}
		var index = layer.load(2,{
			shade:[0.6,"#000"]
		});
		layer.close(openid);
		$.ajax({
			url:"{:url('setGrade')}",
			type:"post",
			dataType:"json",
			data:{
				'user_id':user_id,
				'grade':grade
			},
			success:function (data){
				layer.close(index);
				if(data.code == 1){
					layer.msg('设置成功');
				}else{
					layer.msg(data.info);
				}
			},
			error:function (data) {
				layer.close(index);
				layer.msg('网络错误,请稍后重试');
			}
		});
	}

</script>
<script>
	var open = '';
	function setLook(user_id){
	    if(user_id == ''){
	        layer.msg('请刷新页面');return;
		}
        var index = layer.load(2,{
            shade:[0.6,"#000"]
        });
        $.ajax({
            url:"{:url('getUserYeji')}",
            type:"post",
            dataType:"json",
            data:{
                'user_id':user_id,
            },
            success:function (data){
                layer.close(index);
                if(data.code == 1){
                    layer.open({
                        type: 1,
						title:'业绩',
                        skin: 'layui-layer-molv', //样式类名
                        area: ['250px', '250px'],
                        closeBtn: 0, //不显示关闭按钮
                        anim: 4,
                        shadeClose: true, //开启遮罩关闭
                        content: '<div class="yeji">'
							+ '<div>总业绩:</div><span>'+data.z_yeji+'</span>'
							+ '<div>当月业绩:</div><span>'+data.month_yeji+'</span></div>'
                    });
                }else{
                    layer.msg(data.info);
                }
            },
            error:function (data) {
                layer.close(index);
                layer.msg('网络错误,请稍后重试');
            }
        });

	}
</script>